/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --color-black: #000;
  --color-white: #fff;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
}
